/* styles.css */

/* Common styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2C2C2C;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container styling */
.container {
    margin: auto;
    background-color: #333333;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px; /* Original padding */
    margin-top: 10px;
    overflow-x: auto; /* Handle table overflow */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px; /* Original title font size */
}

.header h2 {
    margin: 0;
    font-size: 16px;
    color: #BBBBBB;
}

.section {
    margin-bottom: 20px;
}

.farm-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-align: left; /* Align content to the right */
    margin-top: 20px;
    margin-bottom: 20px;
}

.status-container {
    text-align: center;
    margin-bottom: 20px;
}

.status {
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.status-stopped {
    color: #f44336; /* Red text color for stopped */
}

.status-active {
    color: #4CAF50; /* Green text color for active */
}

/* Encounters styles */
.encounters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.current-encounter {
    text-align: left;
}

.poketime {
    text-align: right;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Table styling */
.table {
    border-collapse: collapse;
    margin-bottom: 5px;
    background-color: #444444;
    border-radius: 5px;
    overflow: hidden;
    table-layout: fixed; /* Ensures consistent column widths */
    width: 100%; /* Ensure table takes full width */
}

.table th {
    padding: 12px;
    text-align: center;
    border: 1px solid #555555;
    color: #FFFFFF;
    background-color: #333333; /* Dark background for table headers */
    border-bottom: 2px solid #555555; /* Thicker bottom border for headers */
    font-weight: bold;
}

.table td {
    padding: 5px;
    text-align: center;
    border: 1px solid #555555;
    color: #FFFFFF;
    background-color: #555555;
}

/* Highlight for the current Pokémon */
tr.current-pokemon td {
    background-color: #4CAF50;
    font-weight: bold;
}

/* Total row styling */
.table tfoot .total-row td {
    font-weight: bold;
    background-color: #222222;
    border-top: 2px solid #555555;
}

/* Dropdown row styling */
.dropdown-row {
    background-color: #333333;
    transition: all 0.3s ease;
}

.dropdown-row td {
    padding: 0px; /* Match padding */
    text-align: center; /* Align text center */
    font-size: 16px; /* Match font size */
    color: #CCCCCC;
    background-color: #2C2C2C;
    border: none; /* Remove border for seamless alignment */
}

/* Dropdown table styling */
.dropdown-table {
    border-collapse: collapse;
    width: 100%; /* Ensure dropdown table takes full width */
    table-layout: fixed; /* Ensures consistent column widths */
    max-width: 100%; /* Prevents dropdown from expanding beyond container */
}

.dropdown-table td, .dropdown-table th {
    padding: 5px; /* Match padding with outer table */
    border: 1px solid #444444; /* Match outer table borders */
    text-align: center; /* Match text alignment */
    color: #FFFFFF;
}

.dropdown-table tr td {
    background-color: #444444;
}

/* .dropdown-table tr:nth-child(even) td {
    background-color: #3A3A3A;
} */

/* Button styling */
.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.button {
    flex: 1;
    padding: 10px;
    border: inherit;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0;
}

.button-action {
    padding: 5px;
}

.button-green {
    background-color: #4CAF50;
    color: white;
}

.button:hover {
    background-color: #45A049;
}

.button-red {
    background-color: #f44336;
    color: white;
}

.button-red:hover {
    background-color: #D32F2F;
    color: white;
}

.button-delete:hover {
    background-color: #D32F2F;
}

.button-blue {
    background-color: #2196F3;
    color: white;
}

.button-blue:hover {
    background-color: #0b7dda;
}

.button-grey {
    background-color: #9E9E9E;
    color: white;
}

.button-grey:hover {
    background-color: #707070;
}

.setup-instructions {
    display: none;
    background-color: #262525;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.button-loading {
    background-color: #6F42C1;
    cursor: wait;
}

.button-loading:hover {
    background-color: #6F42C1; /* Ensure the color remains the same on hover */
}

.setup-message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    font-size: 14px; /* Reduced font size */
}

.setup-success {
    background-color: #4CAF50; /* Green background for success */
}

.setup-failed {
    background-color: #f44336; /* Red background for failed */
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

/* Non-compact mode */
.compact-label {
    position: fixed;
    bottom: 40px; /* Compact label above Always On Top */
    right: 10px;
    font-size: 0.8em; /* Reduced font size */
    color: #007BFF;
    display: flex;
    align-items: center;
}

.always-on-top-label {
    position: fixed;
    bottom: 10px; /* Closer to Compact label */
    right: 10px;
    font-size: 0.8em; /* Reduced font size */
    color: #007BFF;
    display: flex;
    align-items: center;
}

/* Checkbox adjustments */
.compact-label input[type="checkbox"] {
    margin-left: 10px; /* Adjust margin for spacing */
    transform: scale(0.8); /* Reduced size */
}

.always-on-top-label input[type="checkbox"] {
    margin-left: 10px; /* Adjust margin for spacing */
    transform: scale(0.8); /* Reduced size */
}

/* Styling for action buttons */
.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px; /* Gap between buttons */
}

.action-buttons button {
    font-size: 14px; /* Smaller font size for buttons */
    font-weight: bolder; /* Make text bold */
    padding: 2px 4px; /* Adjusted padding for better touch targets */
    border-radius: 4px; /* Small rounded corners */
    background-color: #444444; /* Default button background color */
    color: white; /* Button text color */
    border: none; /* Remove borders */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Added transition for scaling */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a shadow to text */
}

/* Hover effect */
.action-buttons button:hover:not(:disabled) {
    transform: scale(1.05); /* Scale up on hover */
}

/* Disabled state */
.action-buttons button:disabled {
    background-color: #ccc; /* Disabled state styling */
    cursor: not-allowed; /* Not allowed cursor */
}

/* Prevent hover color change for disabled buttons */
.action-buttons button:disabled:hover {
    background-color: #ccc; /* Maintain grey color when hovered */
}

.button:disabled {
    background-color: #ccc; /* Disabled state styling */
    cursor: not-allowed; /* Not allowed cursor */
}

/* Prevent hover color change for disabled buttons */
.button:disabled:hover {
    background-color: #ccc; /* Maintain grey color when hovered */
}

/* Delete button styles */
.action-buttons .button-delete {
    background-color: #f44336; /* Red background for delete button */
}

.button-delete:hover:not(:disabled) {
    background-color: #d32f2f; /* Darker red on hover */
}

/* Reset Button - Example Styles */
.button-reset {
    background-color: #c15ee6; /* Muted Beige */
    color: #ffffff; /* Dark Grey Text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-reset:hover {
    background-color: #A54CC7; /* Slightly darker beige for hover */
}

/* Knob styles */
.knob-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.knob {
    opacity: 0;
    width: 0;
    height: 0;
}

.knob-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.knob-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.knob:checked + .knob-slider {
    background-color: #4CAF50;
}

.knob:checked + .knob-slider:before {
    transform: translateX(26px);
}

.button-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button-icon img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.button-icon:hover img {
    transform: scale(1.1);
}

.button-container.bottom-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    gap: 0px;
    width: 35%;
}
