/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2C2C2C;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* To position the checkbox */
}

.container {
    margin: auto;
    background-color: #333333;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    margin-top: 10px;
    width: 300px; /* Reduced width */
    padding: 10px; /* Reduced padding */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 22px;
}

.header h2 {
    margin: 0;
    font-size: 14px;
    color: #BBBBBB;
}

.section {
    margin-bottom: 10px;
}

.section h3 {
    margin-top: 0;
}

.section p {
    display: flex;
    justify-content: space-between;
}

.farm-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: left; /* Align content to the right */
    margin-top: 4px;
    margin-bottom: 16px;
}

.status-container {
    text-align: center;
    margin-bottom: 10px;
}

.status {
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.status-stopped {
    color: #f44336; /* Red text color for stopped */
}

.status-active {
    color: #4CAF50; /* Green text color for active */
}

.encounters {
    display: flex;
    justify-content: space-between;
    font-size: 18px; /* Reduced font size */}

/* Table styling */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    background-color: #444444;
    border-radius: 5px;
    overflow: hidden;
}

/* Highlight current Pokémon row in green */
tr.current-pokemon td {
    background-color: #4CAF50; /* Green background color */
    font-weight: bold;
}

.table th, .table td {
    text-align: center;
    border: 1px solid #555555; /* Border for table cells */
    color: #FFFFFF; /* Text color for table cells */
    padding: 8px; /* Reduced padding */
    font-size: 16px; /* Reduced font size */
}

.table th {
    background-color: #333333; /* Dark background for table headers */
    border-bottom: 2px solid #555555; /* Thicker bottom border for headers */
}

.table td {
    background-color: #555555; /* Slightly lighter background for table cells */
}

/* Style for the total row */
.table tfoot .total-row td {
    font-weight: bold;
    background-color: #222222; /* Darker background for the total row */
    padding: 12px; /* Ensure padding matches the other rows */
    border-top: 2px solid #555555; /* Add a top border to distinguish the total row */
    text-align: center; /* Center-align text in the footer */
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px; /* Reduced gap */
    margin-bottom: 5px; /* Reduced margin */
}

.button {
    flex: 1;
    border: none;
    cursor: pointer;
    padding: 5px; /* Reduced padding */
    border-radius: 3px; /* Reduced border-radius */
    font-size: 14px; /* Reduced font size */
    margin: 4px 0; /* Reduced margin */
}

.button-green {
    background-color: #4CAF50;
    color: white;
}

.button-green:hover {
    background-color: #45a049;
}

.button-red {
    background-color: #f44336;
    color: white;
}

.button-red:hover {
    background-color: #da190b;
}

.button-blue {
    background-color: #2196F3;
    color: white;
}

.button-blue:hover {
    background-color: #0b7dda;
}

.button-grey {
    background-color: #9E9E9E;
    color: white;
}

.button-grey:hover {
    background-color: #707070;
}

.setup-instructions {
    display: none;
    background-color: #262525;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 14px;
}

/* Loading state for the setup button */
.button-loading {
    background-color: #6F42C1;
    cursor: wait;
}

.button-loading:hover {
    background-color: #6F42C1; /* Ensure the color remains yellow on hover */
}

.setup-message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    position: relative;
    font-size: 14px;
}

.setup-success {
    background-color: #4CAF50; /* Green background for success */
}

.setup-failed {
    background-color: #f44336; /* Red background for failed */
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.always-on-top-label {
    position: fixed;
    color: #007BFF;
    display: flex;
    align-items: center;
    bottom: 8px; /* Adjusted position */
    right: 8px;
    font-size: 0.7em; /* Reduced font size */}

.always-on-top-label input[type="checkbox"] {
    margin-left: 5px; /* Adjust margin for spacing */
    transform: scale(0.7); /* Reduced size */
}
